# Strictly for tests
codecov==2.1.12
coverage==6.3.2
pytest==7.0.1
pytest-cov==2.12.1
pytest-homeassistant-custom-component>=0.6.2
# From our manifest.json for our custom component
gidgethub[aiohttp]==5.1.0
cryptography==35.0.0
